body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.bar{
    margin-top: -8px;
    background-color: rgb(54,69,79);
}


.jumbo{
    background-color: rgb(228, 228, 228);
    width: 95%;
    margin: 10px auto;
}

.cardContainer{
    width: 95%;
    margin: 10px auto;
}

.jumboH1{
    font-size: 4rem;
}

.footer{
   
    background-color: rgb(54,69,79);
}

img{
    max-width: auto;
    max-height: 600px;
}